on:
  push:
    branches: [main]
  workflow_dispatch: #for manual triger

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node JS
        uses: actions/setup-node@v4
        with: 
          node-version: 18
          
      - name: Install npm
        run: echo "Simulate npm install"

      - name: Run script
        run: echo " Simulate npm test script"
        
      
