# .github/workflows/main-caller.yml
name: Main Caller Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-shared-utility:
    uses: .github/workflows/shared-util.yml@main   # calls the reusable workflow
    with:
      target_branch: main
    secrets: inherit

  use-utility-output:
    runs-on: ubuntu-latest
    needs: run-shared-utility
    steps:
      - name: Display datetime from utility
        run: echo "Datetime from shared utility:${{ needs.run-shared-utility.outputs.current_datetime }}"
